body {
    background-color: black;
    color: white;
}

.coming_soon{
    position: fixed;
    top: 42vw;
    left: 11.5vw;
    z-index: 100;
    color: white;
    font-size: 1.5vw;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.slogan{
    position: fixed;
    top: 36.5vw;
    left: 11.5vw;
    z-index: 100;
    color: white;
    font-size: 2.5vw;
    font-family: Arial, Helvetica, sans-serif;
}

.background_logo{
    position: fixed;
    width: 95vw;
}
